In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import mysql.connector

db = mysql.connector.connect(
    host = 'localhost',
    user ='root',
    password = 'anmol2004',
    database = 'ecommerce'
)
cursor = db.cursor(buffered=True)

In [4]:
# List all unique cities where customers are located.

# Execute query
query = """SELECT DISTINCT customer_city FROM customers"""
cursor.execute(query)

# Fetch all results
data = cursor.fetchall()

# Convert to DataFrame
df = pd.DataFrame(data, columns=["Customer City"])

# Print as a table
print(df)

              Customer City
0                    franca
1     sao bernardo do campo
2                 sao paulo
3           mogi das cruzes
4                  campinas
...                     ...
4114                 siriji
4115    natividade da serra
4116           monte bonito
4117             sao rafael
4118      eugenio de castro

[4119 rows x 1 columns]

In [5]:
# Count the number of orders placed in 2017.

query = """SELECT COUNT(order_id) FROM orders WHERE YEAR(order_purchase_timestamp) = 2017"""
cursor.execute(query)

# Fetch the result
data = cursor.fetchone()  # COUNT returns a single value

# Print the count
print("Total Orders in 2017:", data[0])

Total Orders in 2017: 45101

In [6]:
# Find the total sales per category.

query = """
    SELECT 
        products.product_category AS category, 
        SUM(payments.payment_value) AS sales
    FROM products 
    JOIN order_items ON products.product_id = order_items.product_id
    JOIN payments ON order_items.order_id = payments.order_id  -- Fix table name
    GROUP BY category
"""
cursor.execute(query)
data = cursor.fetchall()

# Print results in a readable format
df = pd.DataFrame(data, columns=["Category", "Total Sales"])
print(df)

                       Category   Total Sales
0                     perfumery  5.067387e+05
1          Furniture Decoration  1.430176e+06
2                     telephony  4.868821e+05
3                bed table bath  1.712554e+06
4                    automotive  8.522943e+05
..                          ...           ...
69               cds music dvds  1.199430e+03
70                   La Cuisine  2.913530e+03
71  Fashion Children's Clothing  7.856700e+02
72                     PC Gamer  2.174430e+03
73       insurance and services  3.245100e+02

[74 rows x 2 columns]

In [ ]:
# Calculate the percentage of orders that were paid in installments.

query = """
    SELECT 
        (SUM(CASE WHEN payment_installments > 1 THEN 1 ELSE 0 END) / COUNT(*)) * 100 
        AS installment_percentage
    FROM payments;
"""
cursor.execute(query)
data = cursor.fetchone()

# Print the percentage
print("Percentage of Orders Paid in Installments:", data[0], "%")

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near ') from payments' at line 2

In [ ]:
# Count the number of customers from each state. 

query = """
    SELECT 
        products.product_category AS category, 
        SUM(payments.payment_value) AS sales
    FROM products 
    JOIN order_items ON products.product_id = order_items.product_id
    JOIN payments ON order_items.order_id = payments.order_id  -- Fix table name
    GROUP BY category
"""
cursor.execute(query)
data = cursor.fetchall()

# Print results in a readable format
df = pd.DataFrame(data, columns=["Category", "Total Sales"])
print(df)